<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

    <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.e4.ui.workbench.swt.E4Application"
            name="ea-platform">
         <property
               name="appName"
               value="ea-platform">
         </property>
      </product>
   </extension>
  <extension
         point="org.eclipse.ui.splashHandlers">
      <splashHandler
            class="org.governance.ea.platform.setting.splashHandlers.InteractiveSplashHandler"
            id="org.governance.ea.platform.setting.splashHandlers.interactive">
      </splashHandler>
      <splashHandlerProductBinding
            splashId="org.governance.ea.platform.setting.splashHandlers.interactive"
            productId="org.governance.ea.soa.product">
      </splashHandlerProductBinding>
   </extension>

</plugin>
